- content_for :title do
	Link Administration
	
%h1 Link Administration (#{@total_links})

- if @links != nil && @links.size > 0
	%p.buttons	
		= render :partial => 'shared/offset_pagination', :locals => {:total_items => @total_links, :items => @links, :offset => @offset, :page_offset => '/admin/links?offset='}
		
	%table{:style => 'width: 100%; text-align: left'}
		%tr
			%th ID
			%th From
			%th To
			%th Cost
			%th Distance
			
			- @links.each do |link|
				%tr
					%td #{link.id}
					%td #{link.first_id}
					%td #{link.second_id}
					%td #{link.cost}
					%td #{link.distance}
					
	%p.buttons	
		= render :partial => 'shared/offset_pagination', :locals => {:total_items => @total_links, :items => @links, :offset => @offset, :page_offset => '/admin/links?offset='}
		
- else
	No links currently exist in the database.
