- content_for :title do
	MDS Administration

%h1 MDS Administration (#{@total_nodes})

- x = []
- y = []
- counts = [0, 0]

- ['Sound', 'Tag'].each_with_index do |node_type, i|
	- MdsNode.find(:all, :conditions => {:owner_type => node_type}).each do |node|
		- x.push node.x
		- y.push node.y
		- counts[i] += 1

%p{:style => 'text-align: center'}= image_tag Gchart.scatter(:data => [x, y], :axis_with_labels => 'x,y',:axis_labels => ['-0.5|0.5', '-0.5|0.5'], :custom => "chm=o,8888FF,0,0:#{counts[0] - 1}:1,5|o,FF8888,0,#{counts[0]}:#{counts[0] + counts[1] - 1}:1,5")

- if @nodes != nil && @nodes.size > 0
	%p.buttons
		= render :partial => 'shared/offset_pagination', :locals => {:total_items => @total_nodes, :items => @nodes, :offset => @offset, :page_offset => '/admin/mds?offset='}
		
	%table{:style => 'width: 100%; text-align: left'}
		%tr
			%th ID
			%th Parent
			%th X
			%th Y
			%th Z
			%th W
			%th Links out
			%th Links in
			
			- @nodes.each do |node|
				%tr
					%td #{node.id}
					%td #{node.owner_type}.#{node.owner_id}
					%td #{node.x}
					%td #{node.y}
					%td #{node.z}
					%td #{node.w}
					%td #{node.outbound_links.size}
					%td #{node.inbound_links.size}
					
	%p.buttons	
		= render :partial => 'shared/offset_pagination', :locals => {:total_items => @total_nodes, :items => @nodes, :offset => @offset, :page_offset => '/admin/mds?offset='}
		
- else
	No MDS nodes currently exist in the database.
