- content_for :title do
	Settings

%div#settings-profile
	%h1 Settings
	%div.help
		%h2 Getting an avatar
		%p
			We use #{link_to 'Gravatar', 'http://gravatar.com'} for all user profile pictures. To get your own avatar, |
			sign up with Gravatar using the email address associated with your Soundwalks account. It may take several |
			minutes for your changes to take effect.
			
		%h2 Editing your password
		%p 
			Use this page to edit your profile information. If you don't want to change your password, just leave |
			&quot;New Password&quot; blank. Otherwise, make sure that &quot;Old Password&quot; matches your existing |
			password.
			
	- form_for @user do |form|
		%div
			= form.label :name, label_with_errors(@user, 'name', 'Full Name'), :class => 'field'
			= form.text_field :name, :class => 'field'
		%div
			= form.label :email, label_with_errors(@user, 'email', 'Email'), :class => 'field'
			= form.text_field :email, :class => 'field'
		%div
			= label_tag :old_password, label_with_errors(@user, 'old_password', 'Old Password'), :class => 'field'
			= password_field_tag :old_password, '', :class => 'field'
		%div
			= label_tag :new_password, label_with_errors(@user, 'new_password', 'New Password'), :class => 'field'
			= password_field_tag :new_password, '', :class => 'field'
			
		- if @current_user.admin
			%div.non-text
				Admin? #{form.check_box :admin}
				Can upload? #{form.check_box :can_upload}
				
		%p{:class => 'buttons'}
			%button{:type => "submit"} Save Settings