<% form_for @user do |form| %>
<div id='settings_profile'>
	<h1>Profile</h1>		
	<p class='field'>
		<%= form.label :login, label_with_errors(@user, 'login', 'Username') %>
		<%= form.text_field :login %>
	</p>
	<p class='field'>
		<%= form.label :name, label_with_errors(@user, 'name', 'Full Name') %>
		<%= form.text_field :name %>
	</p>
	<p class='field'>
		<%= form.label :email, label_with_errors(@user, 'email', 'Email') %>
		<%= form.text_field :email %>
	</p>
	<p class='field'>
		<%= label_tag :old_password, label_with_errors(@user, 'old_password', 'Old Password') %>
		<%= password_field_tag :old_password %>
	</p>
	<p class='field'>
		<%= label_tag :new_password, label_with_errors(@user, 'new_password', 'New Password') %>
		<%= password_field_tag :new_password %>
	</p>
</div>
<div id='settings_privacy'>
	<h1>Privacy</h1>
	<p class='field'>Privacy</p>
	<p class='field'>Text</p>
	<p class='field'>Privacy</p>
	<p class='field'>Text</p>
	<p class='field'>Privacy</p>
	<p class='field'>Text</p>
	<p class='field'>Privacy</p>
	<p class='field'>Text</p>
	<p class='field'>Privacy</p>
	<p class='field'>Text</p>
	<p class='field'>Privacy</p>
	<p class='field'>Text</p>
</div>
<div class='clear'></div>

<p class='submit'>
	<%= form.submit 'Save' %>
</p>
<% end %>
