<% content_for :title do %>
	People <%= @user.name %> is following
<% end %>

<%= render :partial => 'user_profile', :locals => {:user => @user } %>

<% if @user.friendships.size > 0 %>
	<h2><%= first_name @user %> <%= first_name_verb @user %> following <%= pluralize(@user.friendships.size, 'person') %>.</h2>
	<%= render :partial => 'user_list', :locals => {:user => @user, :users => @user.friends} %>
<% else %>
	<h2><%= first_name @user %> <%= first_name_verb_negative @user %> following anyone.</h2>
<% end %>