<% content_for :title do %>
	<%= @user.name %>
<% end %>

<%= render :partial => 'user_profile', :locals => {:user => @user } %>

<% if !@user.soundwalks.empty? %>
	<%= render :partial => '/shared/soundwalks_map', :locals => {:soundwalks => @user.soundwalks} %>
	<%= render :partial => '/shared/soundwalks_index', :locals => {:soundwalks => @user.soundwalks} %>
<% else %>
	<p><%= @user.name.split(' ').first %> hasn't posted any soundwalks yet.</p>
<% end %>
