<div id='profile'>
	<div class='avatar'><%= avatar_tag(user, :size => 92, :alt => user.name) %></div>
	<h1><%= title if defined? title %></h1>
	
	<% if defined? title_text %><p><%= title_text %><% end %>
		<%= render :partial => 'shared/follow_button', :locals => {:user => user} %>
	<% if defined? title_text %></p><% end %>
	
	<div class='menu'>
		<% menu.each_with_index do |item, index|
			text = item[0]
			path = item[1]
			options = item[2]
		%>
			<%= link_to text, path, options %>
			<% if index < menu.size - 1 %>
	 			|
			<% end %>
		<% end %>
	</div>
	
	<div class='details'><%= details if defined? details %></div>
	<div class='clear'></div>
</div>
