<% content_for :head do %>
	<%= javascript_include_tag 'fileinput', 'form_buttons' %>
<% end %>

<% form_for(@soundwalk, :html => {:multipart => true}) do |form| %>
	<div>
		<%= form.label :uploaded_data, label_with_errors(@soundwalk, 'uploaded_data', 'GPS file'), :class => 'field' %>
		<div class='fileinput'>
			<%= form.file_field :uploaded_data, :class => 'file' %>
		</div>
	</div>
	<div>
		<%= form.label :title, label_with_errors(@soundwalk, 'title', 'Title'), :class => 'field' %>
		<%= form.text_field :title, :class => 'field' %>
	</div>
	<div>
		<%= form.label :description, label_with_errors(@soundwalk, 'description', 'Description'), :class => 'field' %>
		<%= form.text_area :description, :class => 'field' %>
	</div>
	
	<% if new_soundwalk %>
		<div class='submit-options'>
			<%= form.submit 'Add sounds', :name => 'continue', :class => 'button' %> or <%= form.submit 'Finish', :class => 'button' %>
		</div>
	<% else %>
		<div class='submit'>
			<%= form.submit 'Save', :class => 'button' %>
		</div>
	<% end %>
<% end %>

<script type='text/javascript'>
	initFileUploads();
</script>