<% form_for(@soundwalk, :html => {:multipart => true}) do |form| %>
	<div>
		<%= label_tag 'GPS file', label_with_errors(@soundwalk, 'upload', 'GPS file'), :class => 'field' %>
		<div class='fileinput'>
			<%= file_field :upload, :locations_file, :class => 'file' %>
		</div>
	</div>
	<div>
		<%= form.label :title, label_with_errors(@soundwalk, 'title', 'Title'), :class => 'field' %>
		<%= form.text_field :title, :class => 'field' %>
	</div>
	<div>
		<%= form.label :description, label_with_errors(@soundwalk, 'description', 'Description'), :class => 'field' %>
		<%= form.text_area :description, :class => 'field' %>
	</div>
	<div>
		<%= form.submit 'Save', :class => 'submit' %>
	</div>
<% end %>

<script type='text/javascript'>
	initFileUploads();
</script>