<% content_for :title do %>
	<%= @soundwalk.title %>
<% end %>

<%	
	count = @soundwalk.sounds.count
	
	if count > 0
		sum_duration = 0
		min_duration = 9999999
		max_duration = -9999999
		
		for sound in @soundwalk.sounds
			duration = sound.samples / sound.sample_rate.to_f
			
			sum_duration += duration
			min_duration = duration if duration < min_duration
			max_duration = duration if duration > max_duration
		end
	
		mean_duration = sum_duration / @soundwalk.sounds.count
	end
%>

<%= render :partial => 'shared/soundwalk_profile', :locals => {:soundwalk => @soundwalk} %>
<%= render :partial => 'shared/sounds_map', :locals => {:sounds => @soundwalk.sounds, :soundwalk => @soundwalk} %>

<h2>Details</h2>
<div>
<span class="label">Description:</span>
<div class='detail'><%= textilize(h @soundwalk.description) %></div>
<span class="label">Posted:</span>
<p class='detail'><%= post_date @soundwalk %></p> 
<span class="label">Recorded:</span> 
<p class='detail'><%= time_span @soundwalk %></p>
<span class="label">Sounds:</span> 
<p class='detail'><%= @soundwalk.sounds.count %></p>
<% if count > 0 %>
<span class="label">Sound lengths:</span> 
<p><%= sprintf('%.2f', min_duration)%>s - <%= sprintf('%.2f', max_duration) %>s (mean: <%= sprintf('%.2f', mean_duration) %>s)</p>
<% end %>
</div>
<h2>Sounds</h2>
<%= render :partial => 'shared/sounds_index', :locals => {:sounds => @soundwalk.sounds.find(:all, :order => 'recorded_at ASC')} %>
