- content_for :title do
	Network Administration

- content_for :javascript do
	= javascript_include_tag 'lib/jquery.js', 'links.js'
	
%h1 Network Administration

%h2 Tasks

%p.buttons
	%a{:href => '/links/update_acoustic'} Update acoustic weights
	%a{:href => '/links/update_semantic'} Update semantic weights
	%a{:href => '/links/update_social'} Update social weights
	%a{:href => '/links/update_distances'} Update distances

%p.buttons
	%a{:href => '/links/delete_all'} Delete all links

%h2 Completion

- acoustic = check_nil(Settings.links_weights_acoustic)
- semantic = check_nil(Settings.links_weights_semantic)
- social = check_nil(Settings.links_weights_social)
- distances = check_nil(Settings.links_weights_distances)

%div
	%div#acoustic{:class => 'admin_progress'}
		%div.progress{:style => "width: #{percentage_width(acoustic)}"}
		= "<span class='text'>Acoustic (<span class='progress_text'>#{percentage_text(acoustic)}</span>)</span>"
		
	%div#semantic{:class => 'admin_progress'}
		%div.progress{:style => "width: #{percentage_width(semantic)}"}
		= "<span class='text'>Semantic (<span class='progress_text'>#{percentage_text(semantic)}</span>)</span>"
		
	%div#social{:class => 'admin_progress'}
		%div.progress{:style => "width: #{percentage_width(social)}"}
		= "<span class='text'>Social (<span class='progress_text'>#{percentage_text(social)}</span>)</span>"
		
	%div#distances{:class => 'admin_progress'}
		%div.progress{:style => "width: #{percentage_width(distances)}"}
		= "<span class='text'>Distances (<span class='progress_text'>#{percentage_text(distances)}<span>)</span>"
		
%h2 Links
	
- if @links != nil && @links.size > 0
	%table{:style => 'width: 100%; text-align: left'}
		%tr
			%th ID
			%th From
			%th To
			%th Cost
			%th Distance
			
			- @links.each do |link|
				%tr
					%td #{link.id}
					%td #{link.first_type}.#{link.first_id}
					%td #{link.second_type}.#{link.second_id}
					%td #{link.cost}
					%td #{link.distance}
	
	%p.buttons	
		- if @total_links > @links.size
			- if @offset > 0
				%a{:href => "/links/?offset=#{offset - 20}"} Previous
			- if @offset + @links.size < @total_links
				%a{:href => "/links/?offset=#{offset + 20}"} Next
- else
	No links currently exist in the database.
	