- content_for :title do
	Network Administration

- content_for :javascript do
	= javascript_include_tag 'lib/jquery.js', 'links.js'
	
%h1 Network Administration

%h2 Tasks

%p
	%span#acoustic= "Acoustic weights: #{Settings.links_weights_acoustic}<br />" if Settings.links_weights_acoustic
	%span#semantic= "Semantic weights: #{Settings.links_weights_semantic}<br />" if Settings.links_weights_semantic
	%span#social= "Social weights: #{Settings.links_weights_social}<br />" if Settings.links_weights_social
	%span#distances= "Shortest-path distances: #{Settings.links_distances}<br />" if Settings.links_distances
		
%p.buttons
	%a{:href => '/links/update_acoustic'} Update acoustic weights
	%a{:href => '/links/update_semantic'} Update semantic weights
	%a{:href => '/links/update_social'} Update social weights
	
%p.buttons
	%a{:href => '/links/update_distances'} Update shortest-path distances
	%a{:href => '/links/delete_all'} Delete all links

%h2 Links
	
- if @links != nil && @links.size > 0
	%table{:style => 'width: 100%; text-align: left'}
		%tr
			%th ID
			%th From
			%th To
			%th Cost
			%th Distance
			
			- @links.each do |link|
				%tr
					%td #{link.id}
					%td #{link.first_type}.#{link.first_id}
					%td #{link.second_type}.#{link.second_id}
					%td #{link.cost}
					%td #{link.distance}
- else
	No links currently exist in the database.
	