<% form_for [@soundwalk, @sound], :html => {:multipart => true} do |form| %>
	<%= form.error_messages %>
	
	<div>
		<%= label_tag 'upload_sound_file', label_with_errors(@sound, 'upload', 'Sound file'), :class => 'field' %>
		<div class='fileinput'>
			<%= file_field :upload, :sound_file, :class => 'file' %>
		</div>
	</div>
	<div>
		<%= form.label :description, label_with_errors(@sound, 'description', 'Description'), :class => 'field' %>
		<%= form.text_area :description, :class => 'field' %>
	</div>
	<div>
		<%= form.label :lat, label_with_errors(@sound, 'lat', 'Latitude'), :class => 'field' %>
		<%= form.text_field :lat, :class => 'field' %>
	</div>
	<div>
		<%= form.label :lng, label_with_errors(@sound, 'lng', 'Longitude'), :class => 'field' %>
		<%= form.text_field :lng, :class => 'field' %>
	</div>
	<div>
		<%= form.label :recorded_at, label_with_errors(@sound, 'recorded_at', 'Recorded at'), :class => 'field' %>
		<%= form.text_field :recorded_at, :class => 'field' %>
	</div>
	<div>
		<%= form.submit 'Save', :class => 'submit' %>
	</div>
<% end %>

<script type='text/javascript'>
	initFileUploads();
</script>