- content_for :title do
	#{@sound.soundwalk.title}: Sound #{@sound.id}

- content_for :javascript do
	= javascript_include_tag 'lib/jquery', 'editable', 'sounds', "http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{Geokit::Geocoders::google}", 'sound-map'

- content_for :meta do
	= render :partial => 'meta/authenticity'
	
- sound_index = @sound.soundwalk.sounds.index(@sound)
- previous_index = sound_index > 0 ? sound_index - 1 : @sound.soundwalk.sounds.size - 1;
- next_index = sound_index < @sound.soundwalk.sounds.size - 1 ? sound_index + 1 : 0;

= render :partial => 'soundwalks/soundwalk_profile', :locals => {:soundwalk => @sound.soundwalk}

%h2 
	#{link_to @sound.soundwalk.title, soundwalk_path(@sound.soundwalk)} - 
	#{link_to @sound.filename, soundwalk_sound_path(@sound.soundwalk, @sound)} 
	(#{link_to 'Previous', soundwalk_sound_path(@sound.soundwalk, @sound.soundwalk.sounds[previous_index])}, 
	#{link_to 'Next', soundwalk_sound_path(@sound.soundwalk, @sound.soundwalk.sounds[next_index])})

%p=render :partial => 'embed_sound', :locals => {:soundwalk => @sound.soundwalk, :sound => @sound}

%div#sound-map

%div#sound-details
	- if logged_in? && current_user.id == @sound.soundwalk.user.id
		%p{:style => 'text-align: center'}
			#{link_to 'Edit', edit_soundwalk_sound_path(@sound.soundwalk, @sound)} &#124;
			#{link_to 'Delete', soundwalk_sound_path(@sound.soundwalk, @sound), :confirm => 'Are you sure?', :method => :delete}

	- if logged_in? && current_user.id == @sound.soundwalk.user.id
		%div#description{:class => 'editable', 
			'data-object' => 'sound', 
			'data-edits' => 'description', 
			'data-shows' => 'formatted_description', 
			'data-url' => soundwalk_sound_path(@sound.soundwalk, @sound), 
			'data-value' => @sound.description}
			= (@sound.description && @sound.description.size > 0) ? textilize(h @sound.description) : '<p>Click here to add a description.</p>'
	- else
		%div#description= textilize(h @sound.description)
		
	%p
		%span.label Community tags:
		%span.detail{'data-shows' => 'all_tags'} 
			#{@sound.tags.size > 0 ? @sound.tags.join(', ') : 'This sound has not been tagged yet.'}

	- if logged_in?
		%p
			%span.label Your tags:
			%span.detail
				- user_tags = current_user.owned_taggings.find(:all, :conditions => {:taggable_id => @sound}).collect {|tagging| tagging.tag}
			
				%span.editable{'data-edits' => 'user_tags', 
					'data-shows' => 'user_tags', 
					'data-url' => "#{soundwalk_sound_path(@sound.soundwalk, @sound)}/tags",
					'data-value' => (user_tags.size > 0) ? user_tags.join(', ') : 'Separate multiple tags with commas.'}
					#{(user_tags.size > 0) ? user_tags.join(', ') : 'Click here to add tags.'}
	%p		
		%span.label Duration:
		%span.detail #{sprintf('%.2f', @sound.samples.to_f / @sound.sample_rate.to_f)}s (#{@sound.samples} samples, #{@sound.frames} frames)
	%p
		%span.label Sample rate:
		%span.detail #{@sound.sample_rate} Hz
	%p
		%span.label Frame length:
		%span.detail #{@sound.frame_length}s (#{@sound.frame_size} samples)
	%p
		%span.label Hop size:
		%span.detail #{@sound.hop_length}s (#{@sound.hop_size} samples)
	%p
		%span.label Spectrum size:
		%span.detail= @sound.spectrum_size
	%p
		%span.label Recorded at:
		%span.detail= @sound.recorded_at
	%p
		%span.label Created at:
		%span.detail= @sound.created_at
	%p
		%span.label Updated at:
		%span.detail= @sound.updated_at

%div.clear

%h2 Features
%div#sound-features
	= feature_chart('loudness', limit_granularity(@sound.trajectory(:loudness)), 0, 'ab4444')
	= feature_chart('temporal sparsity', limit_granularity(@sound.trajectory(:temporal_sparsity)), 'auto', '44ab44')
	= feature_chart('spectral sparsity', limit_granularity(@sound.trajectory(:spectral_sparsity)), 'auto', '4444ab')
	= feature_chart('spectral centroid', limit_granularity(@sound.trajectory(:spectral_centroid)), 'auto', 'abab44')
	= feature_chart('transient index', limit_granularity(@sound.trajectory(:transient_index)), 'auto', '44abab')
	= feature_chart('harmonicity', limit_granularity(@sound.trajectory(:harmonicity)), 'auto', 'ab44ab')
