<% 

require 'google_map'

sound_index = @sound.soundwalk.sounds.index(@sound)
previous_index = sound_index > 0 ? sound_index - 1 : @sound.soundwalk.sounds.size - 1;
next_index = sound_index < @sound.soundwalk.sounds.size - 1 ? sound_index + 1 : 0;

map = GoogleMap.new(:controls => [:zoom, :scale], :map_type => 'G_HYBRID_MAP')
map.markers << GoogleMapMarker.new(:map => map, :lat => @sound.lat, :lng => @sound.lng, :html => 'Sound ' + @sound.id.to_s)

%>

<%= render :partial => 'shared/user_profile', :locals => {:user => @sound.soundwalk.user, :side => 'right'} %>

<h2><%= link_to @sound.soundwalk.title, soundwalk_path(@sound.soundwalk) %> - <%= link_to 'Sound ' + @sound.id.to_s, soundwalk_sound_path(@sound.soundwalk, @sound) %></h2>

<%= map.to_html %>
<div id='sound-map'>
  	<%= map.div %>
</div>

<div id='sound-navigation'>
	<span class='previous'><%= link_to @sound.soundwalk.sounds[previous_index].id, soundwalk_sound_path(@sound.soundwalk, @sound.soundwalk.sounds[previous_index]) %></span>
	<span class='current'><%= @sound.id %></span>
	<span class='next'><%= link_to @sound.soundwalk.sounds[next_index].id, soundwalk_sound_path(@sound.soundwalk, @sound.soundwalk.sounds[next_index]) %></span>
</div>

<p id='sound-description'>
	<%=h @sound.description %>
</p>
	
<p id='sound-details'>
	<%= embed_sound_tag(@sound.soundwalk, @sound, 30, 1.6) %><br />
	<b>Filename: </b><%=h @sound.filename %><br/>
	<b>Duration: </b><%= sprintf('%.2f', @sound.samples.to_f / @sound.sample_rate.to_f) %>s (<%= @sound.samples %> samples, <%= @sound.frames %> frames)<br/>
	<b>Sample rate: </b><%= @sound.sample_rate %><br/>
	<b>Frame length: </b><%= @sound.frame_length %>s (<%= @sound.frame_size %> samples)<br/>
	<b>Hop size: </b><%= @sound.hop_length %>s (<%= @sound.hop_size %> samples)<br/>
	<b>Spectrum size: </b><%= @sound.spectrum_size %><br/>
	<b>Recorded at: </b><%= @sound.recorded_at %><br/>
	<b>Created at: </b><%= @sound.created_at %><br/>
	<b>Updated at: </b><%= @sound.updated_at %>
</p>

<% if logged_in? && current_user.id == @sound.soundwalk.user.id %>
	<p>
		<%= link_to 'Edit sound', edit_soundwalk_sound_path(@sound.soundwalk, @sound) %><br />
		<%= link_to 'Delete sound', soundwalk_sound_path(@sound.soundwalk, @sound), :confirm => 'Are you sure?', :method => :delete %><br />
		<%= link_to 'Recalculate features', :controller => 'sounds', :action => 'recalculate', :id => @sound.id, :soundwalk_id => @sound.soundwalk.id %>
	</p>
<% end %>	

<div class='clear'></div>

<h2>Features</h2>
<p id='sound-features'>
	<%= feature_chart('loudness', limit_granularity(filter_feature_values(@sound.features[:loudness])), 0, 'ab4444') %>
	<%= feature_chart('temporal sparsity', limit_granularity(@sound.features[:temporal_sparsity]), 'auto', '44ab44') %><br/>
	<%= feature_chart('spectral sparsity', limit_granularity(@sound.features[:spectral_sparsity]), 'auto', '4444ab') %>
	<%= feature_chart('spectral centroid', limit_granularity(@sound.features[:spectral_centroid]), 'auto', 'abab44') %><br/>
	<%= feature_chart('transient index', limit_granularity(@sound.features[:transient_index]), 'auto', '44abab') %>
	<%= feature_chart('harmonicity', limit_granularity(@sound.features[:harmonicity]), 'auto', 'ab44ab') %><br/>
</p>
