<% content_for :title do %>
	Add Sounds to <%= @soundwalk.title %>
<% end %>

<% content_for :head do %>
	<%= javascript_include_tag 'jquery.uploadify', 'jquery.json' 'form_buttons', 'fileinput', 'uploader' %>
	<script type='text/javascript'>
		initializeUploader('<%= soundwalk_sounds_path(@soundwalk) %>', '<%= u form_authenticity_token %>', '<%= u request.cookies[ActionController::Base.session_options[:key]] %>')
	</script>
<% end %>

<h1>Add Sounds to <%= @soundwalk.title %></h1>

<div id='upload-sounds'>
	<div class='help' id='help'>
		<h2>Upload Sounds</h2>
		<p>
			To upload multiple files, simply click <em>&quot;Find sounds&quot;</em> and select the files you wish to upload. After each file has uploaded, you can give it a brief description.
		</p>
		<p>
			We will try to automatically find out when and where your sound file was recorded. If either of these is inaccurate, you can click the <em>&quot;fix time&quot;</em> or <em>&quot;fix location&quot;</em> links after the sound has uploaded.
		</p>
		<h2>Don't have Flash?</h2>
		<p>
			That's OK! You can either download <a href="http://get.adobe.com/flashplayer/">Adobe Flash Player</a> or use our <%= link_to 'single file uploader', new_soundwalk_sound_path(@soundwalk) %> to upload files one at a time.
		</p>
	</div>
	
	<% form_for [@soundwalk, @sound], :html => {:multipart => true} do |form| %>
		<div id='uploader'>
			<div id='file-uploader-container'>
				<div id='file-uploader'><%= form.file_field :uploaded_data, :class => 'file' %></div>
			</div>
			<span id='upload-status'></span>
		</div>
	<% end %>
</div>
