!!! XML
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		= yield :javascript
		
		= stylesheet_link_tag 'main'
		= yield :css
		
		%meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
		%meta{"http-equiv" => "Content-Language", :content => "en-us"}
		= render :partial => 'meta/user'
		= render :partial => 'meta/sound'
		= render :partial => 'meta/soundwalk'
		= render :partial => 'meta/current_user'
		
		= yield :meta
		
		%title Soundwalks: #{yield :title}
	%body
		%div#strip		
			%div#title-picture
				%a{:title => 'Soundwalks', :href => '/'}
					%img{:src => '/images/soundwalks.png', :alt => 'Soundwalks'}
			%div#user-panel
				- if logged_in?
					= avatar_tag(current_user, :size => 25, :alt => current_user.name)
					Hi, #{first_name current_user, :force_third_person => true}! &nbsp;&nbsp;
					%a{:title => 'Settings', :href => '/settings'} Settings
					| 
					%a{:title => 'Logout', :href => '/logout'} Logout
				- else
					%a{:title => 'Login', :href => '/login'} Login
					|
					%a{:title => 'Sign up', :href => '/signup'} Sign up
			%div.clear		
		%div#body
			%div#menu
				- if logged_in?
					- if @current_user.can_upload
						#{link_to 'New soundwalk', new_soundwalk_path} &#124;
						
					#{link_to 'My profile', user_name_path(current_user)} &#124;
					#{link_to 'Followed timeline', '/'} &#124;
				
				= link_to 'Public timeline', soundwalks_path
			
			%div#content
				- if flash[:notice]
					%p.notice= flash[:notice]
					
				- if flash[:error]
					%p.error= flash[:error]
					
				= yield
			
			%div.clear
			
			%div#footer
				Soundwalks is developed with support from the  #{link_to 'Arizona State University Arts, Media, and Engineering', 'http://ame.asu.edu'} program, the #{link_to 'National Science Foundation', 'http://nsf.gov'}, and several #{link_to 'open source software', '/about/oss'} packages.
