!!! XML
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		= javascript_include_tag 'lib/dd_roundies'
		= yield :javascript
		
		= stylesheet_link_tag 'main'
		= yield :css
		
		%meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
		%meta{"http-equiv" => "Content-Language", :content => "en-us"}
		= render :partial => 'meta/user'
		= render :partial => 'meta/sound'
		= render :partial => 'meta/soundwalk'
		= render :partial => 'meta/current_user'
		
		= yield :meta
		
		%title Soundwalks: #{yield :title}
	%body
		%div#strip
			%span#title-picture
				%a{:title => 'Soundwalks', :href => '/'}
					%img{:src => '/images/soundwalks.png', :alt => 'Soundwalks'}
			%div#user-panel
				- if logged_in? && !current_user.nil? && current_user.id
					%img{:src => avatar_url_for(current_user, :size => 25), :alt => ''}
					Hi, #{first_name current_user, :force_third_person => true}! &nbsp;&nbsp;
					%a{:title => 'My profile', :href => user_name_path(current_user)} My profile
					&#124;
					%a{:title => 'Settings', :href => '/settings'} Settings
					&#124;
					%a{:title => 'Logout', :href => '/logout'} Logout
				- else
					%a{:title => 'Login', :href => '/login'} Login
					&#124;
					%a{:title => 'Sign up', :href => '/signup'} Sign up
			%div#menu
				- if logged_in? && !current_user.nil? && current_user.id
					- if current_user.can_upload?
						#{link_to 'New soundwalk', new_soundwalk_path}
				
				#{link_to 'Map', '/map'}
				
				-if logged_in?
					#{link_to 'Timeline', '/'}
				- else
					#{link_to 'Timeline', '/soundwalks'}
					
				#{link_to 'Tags', '/tagcloud'}
				= link_to 'About', about_path
		%div#body
			%div#content
				- if flash[:notice]
					%p{:class => 'notice'}= flash[:notice]
					
				- if flash[:error]
					%p{:class => 'error'}= flash[:error]
					
				= yield
			
			%div.clear
			
			%div#footer
				Copyright 2009 <a href = "/about">Soundwalks</a>.
